---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { href, class: className, ...props } = Astro.props
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '')
const subpath = pathname.match(/[^\/]+/g)
const isActive = href === pathname || href === '/' + (subpath?.[0] || '')
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>
<style>
  a {
    display: inline-block;
    text-decoration: none;
    color: var(--color-text);
    padding: 0.5em 0;
    transition: all 0.2s ease;
    position: relative;
    padding-left: 1em;
  }

  a:hover {
    color: var(--color-link);
  }

  a.active {
    color: var(--color-link);
  }

  a.active::before {
    content: '•';
    color: var(--color-link);
    font-size: 1.5em;
    line-height: 1;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
</style>
